@import "normolize.scss";
//  Шрифты
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Signika+Negative&display=swap");

$color_1: rgb(239, 252, 218);
$color_2: rgb(222, 247, 177);
$color_3: rgb(190, 218, 118);
$color_4: rgb(75, 139, 81);
$color_5: rgb(160, 204, 158);
$color_6: rgb(207, 235, 211);

@mixin Background-template() {
    display: none;
    margin: 10px 20px 10px 20px;
    width: auto;
    height: auto;
    background-color: rgb(75, 139, 81, 0.6);
}

// Предназначено для стилизации основной части

body {
    background-image: url("/img/БамбуковыйЛес.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat Alternates", sans-serif;
    // width: 100vh;
    height: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(75, 139, 81, 0.6);
    border: solid 2px whitesmoke;
    border-radius: 2px;
}
.logos {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.icons {
    max-height: 50px;
    max-width: 50px;
    margin: 10px 5px 10px 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: end;
}

.a {
    display: flex;
    margin: 0 10px 0 0;
    align-items: center;
    border-left: solid 2px $color_5;
    font-size: 30px;
}
@media (max-width: 870px) {
    .logotext {
        display: none;
    }
}

//  Времмено отключено
.all-div-display {
    display: flex;
    flex-wrap: wrap;
}

.container {
    justify-items: start;
    margin: auto 0px;
}

.main {
    display: block;
    margin: 10px 20px 10px 20px;
    width: auto;
    height: auto;
    background-color: rgb(75, 139, 81, 0.6);
    border: solid 2px whitesmoke;
    border-radius: 20px;
}

.main-content {
    display: flex;
    margin: 10px 0 0 0;
    width: auto;
    height: auto;
}

.block-text {
    color: aliceblue;
    text-align: center;
}
h1 {
    font-size: 45px;
}

.img-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 10px 20px 10px 20px;
    background-color: rgb(75, 139, 81, 0.6);
    border: solid 2px whitesmoke;
    border-radius: 10px;
}

.img-element {
    grid-row: 1fr;
    border: solid 2px whitesmoke;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: $color_4;
}

::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: $color_5;
}
//           Предназначено для стилизации магазина

.main-page-shop {
    display: none;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: rgb(75, 139, 81, 0.6);
    margin: 10px 5px 10px 10px;
    padding: 10px;
    border: solid 2px whitesmoke;
    border-radius: 20px;
}

.shop-page-assortment {
    display: flex;
    width: auto;
    button {
        color: aliceblue;
    }
}

.shop-chears,
.shop-tables,
.shop-couchs,
.shop-beds {
    @include Background-template;
    border: solid 2px whitesmoke;
    border-radius: 2px;
}
.product-conteiner {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.product-card {
    flex-wrap: wrap;
    justify-content: center;
}

.product-img {
    padding: 2px;
    display: block;
}

.product-text {
    margin: 1px;
    text-align: center;
    color: aliceblue;
}

.product-button {
    display: flex;
    align-items: start;
    margin: 4px;
    padding: 2px;
    background-color: rgb(75, 139, 81, 0.6);
    border: solid 2px whitesmoke;
    border-radius: 3px;
}


